<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tweet App{% endblock title %}</title>

    {% comment %} tailwind css and flowbite js cdn links added  {% endcomment %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.turbo.min.js"></script>

</head>
<body>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>